@model HRM.Models.view_HRM_DEF_SHIFT_TYPE
@{
    ViewBag.Title = "AddOrEdit";
}

<h3 style="text-align:center;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">DEFINE BUS TYPE DETAILS</h3>

<div class="form-body">
    @using (Html.BeginForm())
    {
        @*@Html.HiddenFor(model => model.PARTY_CODE)*@
        <table>
            <tbody>
                <tr>

                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CODE)
                            @Html.EditorFor(model => model.CODE)
                            @Html.ValidationMessageFor(model => model.CODE)
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DESC)
                            @Html.EditorFor(model => model.DESC)
                            @Html.ValidationMessageFor(model => model.DESC)
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn button" />
            <input type="reset" value="Reset" class="btn button" />
        </div>
    }
</div>
