@model IEnumerable<HRM.Models.view_HRM_DEF_SHIFT_TYPE>



@{
    ViewBag.Title = "Index";
}

<h3 style="text-align:center;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">DEFINE Shift TYPE</h3>
<div class="form-body">
    <p>
        <a href="@Url.Action("AddOrEdit","HRM_DEF_SHIFT_TYPE")" class="btn btn-default"><i class="fa fa-plus"></i> Create New</a>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESC)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.AUTH_STATUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AUTH_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AUTH_BY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AUTH_REMARKS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.INACTIVE)
            </th>*@
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESC)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.AUTH_STATUS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AUTH_DATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AUTH_BY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AUTH_REMARKS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.INACTIVE)
                </td>*@
                <td>
                    <a href="@Url.Action("AddOrEdit","HRM_DEF_SHIFT_TYPE", new {id = item.CODE})" class="btn btn-default"> <i class="fa fa-pencil"></i>  View</a>

                    <a href="@Url.Action("Delete","HRM_DEF_SHIFT_TYPE", new {id = item.CODE})" class="btn btn-default"> <i class="fa fa-trash"></i> delete</a>
                </td>
            </tr>
        }

    </table>
    </div>
